<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Match="NavLinkMatch.All" Path="" />
    <RadzenPanelMenuItem Text="Users" Icon="account_box" Path="users" />
    <RadzenPanelMenuItem Text="Counter" Path="counter" />
    <RadzenPanelMenuItem Text="Weather" Path="weather" />
</RadzenPanelMenu>
<div class="rz-p-4">
    Sidebar
</div>
