@using System.Net.Http
@using System.Net.Http.Json
@using Admin.Shared
@using Admin.Shared.Contracts
@using WebUI.Client.BackendServices

@page "/users"
@inject IUserService userService
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false ))

<h3>Users</h3>

@if (members != null)
{
    <RadzenDataGrid IsLoading=@isLoading Count="@count" Data="@members.Items" AllowSorting="true" AllowPaging="true" PageSize="@members.PageSize" TItem="User">
        <Columns>
            <RadzenDataGridColumn TItem="User" Property="FirstName" Title="First Name" />
            <RadzenDataGridColumn TItem="User" Property="LastName" Title="Last Name" />
            <RadzenDataGridColumn TItem="User" Property="Email" Title="Email" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    PagedList<User> members;
    RadzenDataGrid<User> grid = new RadzenDataGrid<User>();
    bool isLoading = false;
    int count;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        await base.OnInitializedAsync();

        members = await userService.SearchUsersAsync(1, 10);

        isLoading = false;
    }

}
