@using Admin.Shared.Contracts
@using Admin.Shared
@using BlazorUI.Services

@page "/users"
@inject BackendService BackendService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer



<h3>Users</h3>

@if (members != null)
{
    <RadzenButton Click=@AddNewUser Text="Add" ButtonStyle="ButtonStyle.Primary" />

    <RadzenDataGrid IsLoading=@isLoading Count="@count" Data="@members.Items" AllowSorting="true" AllowPaging="true" PageSize="@members.PageSize" TItem="User">
        <Columns>
            <RadzenDataGridColumn TItem="User" Property="FirstName" Title="First Name" />
            <RadzenDataGridColumn TItem="User" Property="LastName" Title="Last Name" />
            <RadzenDataGridColumn TItem="User" Property="UserName" Title="Email" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    PagedList<User> members;
    RadzenDataGrid<User> grid = new RadzenDataGrid<User>();
    bool isLoading = false;
    int count;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        await base.OnInitializedAsync();

        var result = await BackendService.SearchUsersAsync(1, 5);

        if (result.IsSuccess)
        {
            members = result.Value;
            count = members.TotalCount;
        }



        isLoading = false;
    }

    private void AddNewUser()
    {
        NavigationManager.NavigateTo("users/add");
    }
}